#fullagenda {
       padding-left: 0;
       margin-left: 0;
       list-style: none;
}

#fullagenda .desc {
       padding-left: 10px;
}

#fullagenda .date {
       font-style: italic;
}

#fullagenda .name {
       font-weight: bold;
}

#fullagenda li {
       margin-bottom: 10px;
}
