#shortagenda {
	float: right;
	padding: 5px;
	background-color: #300;
	margin: 0 0 0 10px;
	list-style: none;
	border: 1px solid #800100;
}

#fullagenda {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

#fullagenda .desc {
}

#fullagenda .date {
	font-style: italic;
	float: right;
}

#fullagenda .name {
	font-weight: bold;
	border-bottom: 1px solid gray;
	color: white;
}

#fullagenda li {
	margin-bottom: 1em;
}
