body {
	background: url(../img/bg.png);
}

#menu ul {
	margin-left: 0;
}

#logoContainer {
	height: 120px;
	text-align: center;
	padding: 0 auto;
	width: 100%;
}

#body {
        float: right;
        width: 800px;
        margin: 0 0 0 0;
        padding: 12px 14px 10px 0;
}

#menu {
	padding: 15px 0px 0 0;
	margin: 0 0 0 10px;
	width: 200px;
}

#menu li {
	padding-top: 4px;
	font-weight: bold;
}

#menu ul li {
	padding-top: 0;
	font-weight: normal;
}

#menu ul, #menu {
	list-style: none;
	padding-left: 10px;
}

#menu a {
	text-decoration: none;
}

#menu a {
	display: block;
}

a:hover {
	color: #f00;
}

#menu a:hover {
	color: #fff;
	text-decoration: underline;
}

#wrapper {
	background-color: #000;
}

#footer, #main {
        border-top: 1px solid #800100;
	background-color: #000;
}

.imageDisplay img {
	padding: 0;
	margin: 0;
}

#loginContainer {
    margin: 1em auto;
}

#menu input {
    background-color: #101010;
    border: solid 1px #808080;
    color: #eee;
}
