#menu ul {
	margin-left: 0;
}

#logo {
	height: 97px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
}

#body {
        float: right;
        width: 600px;
        margin: 0 0 0 0;
        padding: 12px 14px 10px 0;
        height: 511px;
        overflow: auto;
}


#menu {
	padding: 15px 630px 0 0;
	margin: 0 0 0 10px;
}

#menu li {
	padding-top: 4px;
	font-weight: bold;
}

#menu ul li {
	padding-top: 0;
	font-weight: normal;
}

#menu ul, #menu {
	list-style: none;
	padding-left: 10px;
}

#menu a {
	text-decoration: none;
}

#menu a {
	display: block;
}

a:hover {
	color: #f00;
}

#menu a:hover {
	color: #fff;
	text-decoration: underline;
}

#footer, #main {
        border-top: 1px solid #800100;
}

.imageDisplay img {
	padding: 0;
	margin: 0;
}

.placeholder {
	font-style: italic;
	color: #999;
}

#buttonwrapper {
	display: none;
}

@media only screen and (max-width: 35em) {

body {
	padding-left: 0px;
	margin: 0;
}

#wrapper {
	width: auto;
	margin: 0;
}

#logo {
	background-size: 100%;
}

#body {
	float: none;
	width: auto;
	height: auto;
	overflow: show;
	padding: 0;
}

#buttonwrapper {
	text-align: center;
	padding: 0 0 5px 0;
	display: block;
}
#menubutton {
	cursor: pointer;
	font-size: 24px;
	background: #222;
	padding: 5px;
}

#menu {
	margin: 0;
	padding: 0;
	clear: left;
	overflow: hidden;
	/* prefix still needed, XXX remove once Webkit removes prefixes
	 * https://bugs.webkit.org/show_bug.cgi?id=93136 */
	-webkit-transition: 0.2s height ease;
	        transition: 0.2s height ease;
	background: #222;
}

#menu ul {
	margin: 0;
}

#menu li {
	font-size: 24px;
}

#main {
	background-position: center;
}

#agenda {
	padding: 0;
	float: none;
	width: auto;
	background: rgba(0, 0, 0, 0.5);
}
}
